@model IEnumerable<LinkedinProfile.Models.ExperienceVM>

<style>
    .companyIcon {
        width: 50px;
        height: 50px;
        background-size: contain;
        position:absolute;
    }
</style>

@foreach (LinkedinProfile.Models.ExperienceVM exp in Model)
{
    
    <div class="row">
        <div class="col-md-1">
            <div class="companyIcon" style="background-image: url('../img/@(exp.CompanyName.ToLower()).jpg');"></div>
        </div>
        <div class="col-md-11">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <h5>@exp.Title</h5>
                </div>
                <div class="col-md-6 mt-2" align="right">
                    <a href="javascript:ModalEdit('/Experience/EditExperience?experienceId=' + @exp.Id);"><i class="fa fa-edit" style="font-size:25px; color:black;"></i></a>
                </div>
            </div>
            <div class="row">
               <span style="font-size: 18px;">@exp.CompanyName</span>
            </div>
            <div class="row">
                <span class="text-secondary">@exp.StartDate - @exp.EndDate</span>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <hr />
}

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    if ('@TempData["Message"]'.length > 0) {
        var data = '@TempData["Message"]';
        toastr.options = { "positionClass": "toast-top-center" };
        toastr.success(' ' + data + ' ', '', { timeOut: 1000 });
    }

    function ModalEdit(url) {
        $('#myModalContent').load(url, function () {
            $('#myModal').modal({
                keyboard: true
            }, 'show');
        });
    }

    $('.datepicker').datepicker({

            dateFormat: "dd.mm.yy",
            changeYear: true,
            yearRange: "-10:+10",
            //yearRange: "-100:-18",
            monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            dayNamesMin: ["Pa", "Pt", "Sl", "Ça", "Pe", "Cu", "Ct"],
            firstDay: 1,
            defaultDate: null,
        });

</script>
    
